.carousel-container {
  max-width: 800px; /* Ajustar el ancho máximo del contenedor del carrusel según sea necesario */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .slick-carousel {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 5px; /* Margen de 5px a la izquierda y derecha de cada imagen */
        max-width: calc(100% - 10px); /* Ajustar el ancho de la imagen */
      }
    }

    .slick-slide:last-child img {
      margin-right: 0; /* Eliminar el margen derecho para la última imagen */
    }

    .slick-dots {
      bottom: 10px; /* Ajusta la posición vertical de los puntos */
    }

    .slick-dots li {
      margin: 0 5px; /* Ajusta el espacio entre los puntos */
    }

    /* Ajustar el ancho del contenedor del carrusel */
    .slick-list {
      margin: 0 -5px; /* Añadir espacio adicional para las imágenes */
    }
  }
}