@import 'variables';

.contact-container {
  background-color: $contact-container-bg-color;
  padding: 30px;
  border-radius: 5px;
  margin: 30px auto 45px;
  width: 35%;

  label,
  input,
  button {
    display: block;
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
  }

  input,
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  button {
    background-color: $btn-bg-color;
    color: white;
    border: none;

    &:hover {
      background-color: $btn-hover-bg-color;
    }
  }
}
