.footer {
  background-color: $background-color;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .footer-left,
  .footer-center,
  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-left {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    width: 100px;
    height: auto;
  }

  .footer-email {
    margin-top: 10px;
  }

  .social-icon {
    margin-left: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}