@import 'variables';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: $navbar-bg-color;
  padding: 10px;
  z-index: 1000;

  &-logo img {
    height: 50px;
  }

  &-list {
    list-style-type: none;
    display: flex;

    li {
      margin-right: 40px;
      margin-top: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn.navbar-btn {
    background-color: $btn-bg-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;

    &:hover {
      background-color: $btn-hover-bg-color;
    }
  }
}
