@import "variables";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  padding: 10px;
  z-index: 1000;

  .navbar-logo img {
    height: 50px;
  }

  .navbar-list {
    list-style-type: none;
    display: flex;

    li {
      margin-right: 40px;
      margin-top: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn.navbar-btn {
    background-color: $orange;
    color: $white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }
}