/* Rectangle */
.rectangulo {
  background-color: $grey;
  padding: 20px;
  margin: 100px 25% 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .contenido-rectangulo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .texto {
      flex: 1;

      p {
        max-width: 100%;
        margin-bottom: 25px;
      }
    }

    .btn {
      width: 150px;
      margin-top: 10px;
    }
  }
}