$font-family: "Inter", sans-serif;
$navbar-bg-color: #f8f9fa;
$btn-bg-color: orange;
$btn-hover-bg-color: rgb(187, 111, 17);
$banner-height: 420px;
$rectangle-bg-color: #ccc;
$contact-container-bg-color: #f0f0f0;
$footer-bg-color: #f2f2f2;
